body {
  font-family: 'Vazir', sans-serif;
}

body {
  direction: rtl;
  text-align: right;
}


.size-for-icon {
  width: 1.3em;
  height: 1.3em;
  margin-left: 2px;
  margin-right: 2px;
}


ul {
  padding: 0;
}



.bg-theme-color {
  background-color: #ef3bfc8e;
}


.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.sub-menu-item {
  font-size: 13px;
  padding: 4px 4px;
  border-radius: 6px;
  transition: background-color 0.25s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
}

.sub-menu-item span {
  margin-left: 0.5rem;
  text-align: right;
}

.sub-menu-item:hover {
  background-color: #ef3bfc8e;
  transform: translateX(-3px);
}

.sidebar {
  width: 250px;
  min-width: 250px;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}